@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background-color: #f8f8f8; /* Very light gray background */
  color: #1A1A1A; /* Dark text */
}

h1 {
  font-size: 2rem;
  color: #8bb3e9; /* Softer Blue */
  animation: slideInFromTop 1s ease-out forwards;
}

.text-soft-blue {
  color: #8bb3e9; /* Softer Blue */
}

.text-gold {
  color: #FFD700; /* Gold */
}

.text-silver {
  color: #C0C0C0; /* Silver */
}

.text-black {
  color: #000000; /* Black */
}

.bg-white {
  background-color: #FFFFFF; /* White */
}

.bg-dark-gray {
  background-color: #1A1A1A; /* Dark Gray background */
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0.2); /* Grayish transparency */
}

.border-gray-300 {
  border-color: #d1d5db; /* Light gray border */
}

.hover\:bg-blue-700:hover {
  background-color: #003366; /* Darker Blue on hover */
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.text-lg {
  font-size: 1.125rem;
}

.space-x-12 {
  gap: 3rem;
}

.material-icons {
  font-size: 2.5rem;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transition-transform {
  transition: transform 0.6s;
}

.front {
  backface-visibility: hidden;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.swiftcard-text {
  display: inline-block;
  background: linear-gradient(to right, #8bb3e9 50%, #000000 50%);
  -webkit-background-clip: text;
  color: transparent;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #8bb3e9;
  margin-bottom: 5px;
}

input[type='text']:focus, input[type='email']:focus, input[type='tel']:focus, select:focus, input[type='checkbox']:focus, button:focus {
  outline: none;
  border-color: #8bb3e9;
  box-shadow: 0 0 0 2px rgba(139, 179, 233, 0.5);
}

button {
  background-color: #8bb3e9;
  color: #fff;
}

button:hover {
  background-color: #003366;
}

/* Responsive Layout */
.container {
  display: flex;
  flex-direction: column;
}

.card-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 24rem;
  height: 14rem;
  animation: fadeIn 1s ease-out forwards, slideInFromLeft 1s ease-out forwards;
}

.fixed-card-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
  .card-container {
    justify-content: flex-start;
  }
  .fixed-card-wrapper {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
}
